body {
            margin: 0;
            font-family: Arial, sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .container {
            max-width: 10000px;
            width: 100%;
            margin: 0 auto;
        }

        header {
            background-color: #46859e;
            color: white;
            padding: 10px 0;
            text-align: center;
        }

        .header-content {
            display: flex;
            justify-content: center; 
            align-items: center;
            position: relative;     
            max-width: 1200px;
            margin: 0 auto;
            height: 50px;         
        }

        .header-title {
            position: absolute;      
            left: 20px;             
            font-size: 1.5rem;
            margin: 0;
        }

        nav {
            display: flex;
            gap: 20px;
        }

        nav a {
            color: white;
            text-decoration: none;
            font-size: 1rem;
            padding: 5px 10px;
            border-radius: 5px;
        }

        nav a:hover {
            background-color: grey;
        }

         nav a.active {
            background-color: rgb(61, 59, 59);
            color: white;
        }

        .content {
            height: 800px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #f5f5f5;
        }

        .menu {
            background-color: #1a1a2e;
            color: white;
            padding: 20px 0;
            text-align: center;
        }

        .menu-content {
            display: flex;
            justify-content: center;
            gap: 50px;
            align-items: center;
        }

        .menu-item {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .menu-item p {
            margin: 10px 0 0;
            font-size: 14px;
        }

        .menu-icon {
            width: 40px;
            height: 40px;
        }