body {
            margin: 0;
            font-family: Arial, sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .container {
            max-width: 10000px;
            width: 100%;
            margin: 0 auto;
        }

        header {
            background-color: #46859e;
            color: white;
            padding: 10px 0;
            text-align: center;
        }

        .header-content {
            display: flex;
            justify-content: center; 
            align-items: center;
            position: relative;     
            max-width: 1200px;
            margin: 0 auto;
            height: 50px;         
        }

        .header-title {
            position: absolute;      
            left: 20px;             
            font-size: 1.5rem;
            margin: 13px;
            color: white;
        }

        nav {
            display: flex;
            gap: 20px;
        }

        nav a {
            color: white;
            text-decoration: none;
            font-size: 1rem;
            padding: 5px 10px;
            border-radius: 5px;
        }

        nav a:hover {
            background-color: grey;
        }

         nav a.active {
            background-color: rgb(61, 59, 59);
            color: white;
        }

        .content {
            height: 875px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #f5f5f5;

        }

        #profile-picture {
            width: 400px;
            height: 400px;
            border-radius: 50%;
            object-fit: cover;
        }
        
        .perfil-container {
            text-align: center;
        }

/*CONTACT*/
        .container-contact{
            height: 800px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        
        
        }

/*ABOUT*/
        img {
            width: 250px;
            height: 180px;
            object-fit: cover;
            margin: 10px;
            border-radius: 5px;
        }
        .cv-box {
            margin: 30px 0;
            padding: 20px;
            border: 1px solid #ddd;
            display: inline-block;
        }
        .links a {
            margin: 0 10px;
            text-decoration: none;
            color: blue;
        }

/*DEGREE*/

        

         .container-degree {
            max-width: 2000px;
            margin: auto;
            background: white;
            border-radius: 12px;
        }
        h1 { color: #000000; 
            margin-bottom: px;
            margin-top: 2300px;
        }

        h2 { 
            color: #2c3e50; 
            margin-top: 35px; 
            padding-bottom: 5px;
            border-bottom: 3px solid #46859e;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
            font-size: 0.95rem;
        }
        th, td { border: 1px solid black; 
            padding: 10px; 
            text-align: left; 
            background-color: white; 
        }

        th {
            background-color: #46859e;
            color: white;
            text-transform: uppercase;
            letter-spacing: 1px;
        }
        
  